node_modules
.env
.DS_Store
setup.ps1
*-backup.js
*-original-backup.js
temp_*.txt
readS.txt
readS - Copy.txt
readS - Copy (2).txt
readS - Copy (3).txt
readS - Copy (4).txt
readS - Copy (5).txt
readS - Copy (6).txt
READ_ALL_reads.txt
